<p>
    <h2>this is the main part of the site!</h2>
</p>
<script>
    getComponent(window.getConstants().MainComponent, function (MainComponent) {
        (new MainComponent()).init();
    });
</script>